body {
    background-color: rgb(39, 38, 38);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.content, p {
    line-height: 24px;
}


.content-area {
    padding: 92px 20px 40px 40px;
    max-width: 1024px;
    min-width: 300px;
    min-height: 500px;
}

.devop { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
}

.devop a {
    color: rgb(87, 85, 85);
    text-decoration: none;
    text-shadow: 1px 1px 1px springgreen;
  }